@import "./vars";
* {
  margin: 0;
  padding: 0;
  &::before,
  ::after {
    box-sizing: border-box;
  }
}
.container {
  max-width: ($containerPadding + $containerWidth) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }
  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }
  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }
  @media (max-width: $breakpoint488) {
    max-width: none;
  }
}

// Body locked
body {
  &.locked {
    overflow: hidden;
  }
}
