$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: ($containerPadding/2);

// Breakpoints
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint488: 487.98 + px;

// Burger Breakpoint

$burgerBreakpoint: $breakpoint768;

// Fonts

// Colors
